h2, h3 {
  text-align: center;
}

#add {
  margin-left: 40%;
}

#add, #subtract, #multiply, #divide, #clear {
font-size: 15px;
font-weight: bold;
width: 60px;
margin-top: 10px;
}

#xInput, #yInput {
  display: block;
  margin-left: 44%;
}
